.tips {
    font: 400 12px var(--font-family);
    color: #fff;
    box-shadow: inset -5px -5px 16px 0 rgba(138, 138, 138, 0.09);
    background: #297019;
    border-radius: 20px;
    padding: 5px 8px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}
