.value {
    border: 1px solid #606060;
    border-radius: 3px;
    padding: 1px 5px;
    width: 55px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font: 400 14px / 135% var(--font-family);
    color: #959595;
}
.wrapperSlider {
    width: 225px;
}