.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
    padding-top: 22px;
    &__logo {
        font: 700 30px / 100% var(--font-family);
        letter-spacing: 0.01em;
        color: #fff;
    }
}